---
import Darkmode from '../components/Darkmode.astro';
import IconAstro from '../components/icons/astro-logo.astro';


console.log('esto es astro mano')
---

  <!-- Navbar -->
  <nav class="bg-transparent p-4 w-full top-0 position-sticky">
    <div class="container mx-auto flex justify-between items-center">
      <!-- Logo o Nombre de la Marca -->
      <a href="#" class="text-white text-lg font-semibold">Bandann-Dev</a>
      <img src="../components/icons/avatar-bd.png" alt="">
      <!-- Elementos del Navbar -->
      <div class="flex space-x-4">
        <IconAstro/>
        <!-- Botón Resaltado -->
      </div>
    </div>
  </nav>
  