---
console.log('BANNER')
---
  <!-- Banner con Fondo Difuminado -->
  <div class="relative h-48  bg-cover bg-center">
    <!-- Fondo Difuminado -->
    <div class="absolute inset-0 bg-opacity-75 backdrop-blur"></div>

    <!-- Contenido del Banner -->
    <div class="absolute inset-0 flex flex-col items-center justify-center">
      <h1 class="text-4xl text-white font-bold">Bandann Dev</h1>
      <p class="px-6 py-6 text-lg text-white">Desarrollador front-end | Diseñador Web | Magento / E-commerce</p>
    </div>
  </div>
 