

</section>
<section class="box bg-white dark:bg-gray-800 lg:w-[1080px]">
  <div class="container mx-auto flex flex-col items-center justify-center py-16">
    <div class="box flex flex-row w-full">
      <h2>Hola, me llamo <strong>Bani Daniel Inaga Rivero</strong> pero la mayoria me conocen como <strong class="text-3xl text-yellow-300">Bandann</strong></h2>

    </div>
    <div class="box flex flex-col lg:w-1/2">
      <h2>Hola, me llamo <strong>Bani Daniel Inaga Rivero</strong> pero la mayoria me conocen como <strong class="text-3xl text-yellow-300">Bandann</strong></h2>

    </div>
  </div>
</section>