---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Header from '../components/Header.astro';
import Mainbanner from '../components/Mainbanner.astro';
import Presentacion from '../components/Presentacion.astro';
import Projects from '../components/Projects.astro';

---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<script>
 
</script>
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<main class="m-auto" >
		
		<Projects/>
		</main>
	</body>
</html>
<style is:global>
	
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		
		color-scheme: dark light;
	
	}

	.light-mode{
		background:#fafafa;
	}
	.dark-mode{
		background: #13151a;
	}
	.color-blue{
		color: #08D9D6;
	}
	.border-avatar{
		border:2px solid #08D9D6;
	}
	.text-fucsia{
		color:#FF2E63;
	}
	
</style>
